form.private-area {
  width: 300px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #e0e0ff;
  border: 2px solid #c0c0ff;
  text-align: center;
  padding: 10px;
  margin: 50px auto;
}

form.private-area div.error-logging {
  color: red;
}
